@model OrchardHUN.TrainingDemo.Models.DemoSettingsPart

<fieldset>
    <legend>@T("Demo Settings")</legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.Message, T("Message"))
            @Html.TextBoxFor(m => m.Message, new { @class = "text large" })
            @Html.ValidationMessageFor(m => m.Message)
            @Html.Hint(T("This message will be displayed as a demonstration."))
        </li>
    </ol>
</fieldset>

@* NEXT STATION: we'll now try these settings out. Go to Controllers/DemoSettingsController! *@